/* regole generali */

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

#container {
    margin: 0 5%;
}

#divintro {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}

h1{
    font-size: 28px;
    margin-bottom: 5%;
    color: #e53372;
}

/* regole box personali */
.row::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    width: calc((100% - 120px) / 3);
    float: left;
    margin: 20px;
    background-color: #0f0e17;
    box-shadow: 10px 10px 5px #dedede;
    /* debug */
}

.imgprofilo {
    max-height: 180px;
    float: left;
    margin-right: 20px;
}

p.txtcol {
    /* margin: 5% auto 5% 5%; */
    margin: 5% auto;
    line-height: 200%;
    color: #fff;
}

.mail {
    color: #2789bd;
}