/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}


.row::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    width: calc((100% - 120px) / 3);
    float: left;
    margin: 20px;
    background-color: #0f0e17;
    /* debug */
}

.imgprofilo {
    max-height: 180px;
    float: left;
    margin-right: 20px;
}

p {
    /* margin: 5% auto 5% 5%; */
    margin: 5% auto;
    line-height: 200%;
    color: #fff;
}

.mail {
    color: #2789bd;
}